<li [ngClass]="{'list-group-item': true,
                'list-group-item-success': postLoveIts,
                'list-group-item-danger': !postLoveIts }">
  <h4>{{ postTitle }}</h4>
  <i>{{ postCreatedAt | date: 'y MMMM EEEE d' }}</i>
  <p>{{ postContent }}</p>

  <button class="btn btn-sm btn-success"
          [disabled]="!postLoveIts"
          (click)="loveIt()">Love it!</button>
  <button class="btn btn-sm btn-danger"
          [disabled]="postLoveIts"
          (click)="loveIt()">Don't love it!</button>
</li>
